body{
  background-color:#297F87;
}
/**hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  heigh: 5px;
  width: 5%;
}  **/

h1, h2 {
  color: #EDF6E5;
}
IMG{

  width:140px;
  height:140px;
  border-radius:999px ;
}

HR {
  border-color: red;

}
p{
  font-size:25px;
  Color:#440047;
}
